https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html

In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandera in /usr/local/lib/python3.8/dist-packages (0.13.4)
Requirement already satisfied: pydantic in /usr/local/lib/python3.8/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.8/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.8/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from pandera) (0.8.0)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.8/dist-packages (from typing-inspect>=0.6.0->pandera) (4.4.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [ ]:
import pandas as pd
import pandera as pa

In [ ]:
pd.set_option('display.max_columns', 100)

## Extract Database

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/bucketdopandas/Dados%20da%20alesp/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1',parse_dates=['ocorrencia_dia'],dayfirst=True)

In [ ]:
df

## Pre analysis

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

,classificacao,ocorrencia,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
6759,ACIDENTE,40069,SÃO PAULO,SP,BRASIL,SBMT,2010-01-10,14:50:00,8,1,NÃO
6760,INCIDENTE,40414,BRASÍLIA,DF,BRASIL,SBBR,2010-01-10,03:00:00,0,1,NÃO
6761,INCIDENTE GRAVE,39707,CANUTAMA,AM,BRASIL,<NA>,2010-01-09,12:30:00,3,1,NÃO
6762,INCIDENTE,40215,COARI,AM,BRASIL,SBUY,2010-01-07,18:40:00,0,1,SIM
6763,INCIDENTE,39807,SALVADOR,BA,BRASIL,<NA>,2010-01-06,17:53:00,0,1,NÃO
6764,INCIDENTE,40324,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,0,1,NÃO
6765,ACIDENTE,39527,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO
6766,INCIDENTE,40211,RIO DE JANEIRO,RJ,BRASIL,<NA>,2010-01-03,12:00:00,0,1,NÃO
6767,INCIDENTE,40349,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,0,1,NÃO
6768,INCIDENTE,40351,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,0,1,NÃO

In [ ]:
df.dtypes

## Verify databases is unique

In [ ]:
df.codigo_ocorrencia.is_unique

True

## Set Libray

In [ ]:
# Setar novo rótulo para o DF
df.set_index('ocorrencia_classificacao',inplace=True)

In [ ]:
# Resetar o rotulo
df.reset_index(inplace=True)

In [ ]:
df

,ocorrencia_classificacao,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,INCIDENTE GRAVE,81027,81027,81027,81027,81027,NaN,NaN,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,INCIDENTE,81030,81030,81030,81030,81030,NaN,NaN,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
2,INCIDENTE GRAVE,81023,81023,81023,81023,81023,NaN,NaN,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM
3,INCIDENTE,81029,81029,81029,81029,81029,NaN,NaN,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,INCIDENTE,81025,81025,81025,81025,81025,NaN,NaN,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,INCIDENTE,40324,40324,40324,40324,40324,NaN,NaN,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6765,ACIDENTE,39527,39527,39527,39527,39527,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,BRASIL,***,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
6766,INCIDENTE,40211,40211,40211,40211,40211,***,***,RIO DE JANEIRO,RJ,BRASIL,***,2010-01-03,12:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6767,INCIDENTE,40349,40349,40349,40349,40349,NaN,NaN,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6768,INCIDENTE,40351,40351,40351,40351,40351,NaN,NaN,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

## Backup

In [ ]:
dfback = df.copy()

## Clear of Data

In [ ]:
#Dropagem das colunas que tinham dados repetidos
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)

In [ ]:
#Drop de colunas que não serão utilizadas
df.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [ ]:
#Renomear as colunas
df.rename(columns={'codigo_ocorrencia':'ocorrencia','ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_pais':'pais','ocorrencia_aerodromo':'aerodromo'},inplace=True)
df.rename(columns={'ocorrencia_dia':'data','ocorrencia_hora':'horario','total_recomendacoes':'recomendacoes','total_aeronaves_envolvidas':'n_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

In [ ]:
df.dtypes

classificacao            object
ocorrencia                int64
cidade                   object
uf                       object
pais                     object
aerodromo                object
dia              datetime64[ns]
horario                  object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
dtype: object

In [ ]:
pd.unique(df['aerodromo'])

array(['SBSP', 'SBVT', 'SDAI', 'SBBH', 'SBEG', '***', '**NI', 'SBNV',
       'SBUL', 'SBAU', 'SBBP', 'SBTE', 'SBGR', 'SBMT', 'SBCT', 'SBCF',
       'SIEK', 'SBRJ', 'SDLP', 'SWPD', 'SBMA', 'SNYP', 'SNHH', 'SBJF',
       'SBCY', 'SBPS', 'SBMK', 'SBNF', 'SBTF', 'SSMK', 'SNAX', 'SBKP',
       'SBFZ', 'SNPA', 'SBIZ', 'SNFX', 'SDRK', 'SBRF', 'SSBN', 'SBPR',
       'SBSJ', 'SBST', 'SBGO', 'SDCO', 'SBSV', 'SBPJ', 'SBGL', 'SBRD',
       'SBBE', 'SBCH', 'SBLO', 'SBPL', 'SWGW', 'SWLB', 'SBBU', 'SBMQ',
       'SIPO', 'SIAN', 'SBJV', 'SNDC', 'SBBI', 'SBSC', 'SSKG', 'SBBR',
       'SSBG', 'SBIL', 'SBPO', 'SDAM', 'SSOG', 'SBPV', 'SBSR', 'SBBV',
       'SBSN', 'SBFI', 'SDFD', 'SJEH', 'SBSI', 'SWFN', 'SDIG', 'SNHS',
       'SBJP', 'SBPA', 'SBJA', 'SBJR', 'SBRP', 'SISN', 'SBMO', 'SNRU',
       'SNQV', 'SNCP', 'SDIH', 'SBTG', 'SIVU', 'SWMV', 'SIRI', 'SNIT',
       'SBRB', 'SSPI', 'SWCA', 'SBJI', 'SBFL', 'SDRC', 'SNMH', 'SNBS',
       'SWLW', 'SSOT', 'SNPO', 'SBCG', 'SBJD', 'SDEN', 'APUA', 'SDAG',
       'SIUD', 'SDBB', 'SBMS', 'SDDR', 'SDVH', 'SSKK', 'SJVX', 'SBVH',
       'SDRV', 'SBML', 'SSGP', 'SD6Y', 'SNJL', 'SDZS', 'SIBK', 'SNDV',
       'SBJH', 'SBCZ', 'SSNH', 'SBMG', 'SSZR', 'SDAE', 'SSOL', 'SIFQ',
       'SSWF', 'SBPP', 'SBAX', 'SJLJ', 'SDPW', 'SSFB', 'SBSG', 'SDTB',
       'SSCE', 'SSBL', 'SNCT', 'SILQ', 'SSQZ', 'SILT', 'SBIH', 'SIFW',
       'SBDN', 'SWHP', 'SNGW', 'SBPG', 'SJOG', 'SJPT', 'SWPI', 'SWNG',
       'SSKT', 'SJNC', 'SBEK', 'SWON', 'SIZM', 'SWME', 'SJOD', 'SBCB',
       'SDVG', 'SSPO', 'SBCR', 'SBCX', 'SSCD', 'SIXE', 'SNLM', 'SDIP',
       'SBTV', 'SWNH', 'SSCL', 'SJBX', 'SNGA', 'SIMQ', 'SIQE', 'SWXV',
       'SWXQ', '9PBS', 'SISY', 'SDLL', 'SNCJ', 'SBGP', 'SDUL', 'SIVB',
       'SWNS', 'SDRS', 'SSNG', 'SBZM', 'SSRA', 'SWLC', 'SWTS', 'SWEN',
       'SBNM', 'SBAT', 'SBMD', 'SJIJ', 'SBSL', 'SDAA', 'SBCP', 'SWRW',
       'SWVW', 'SJYG', 'SBVG', 'SJGL', 'SSFE', 'SSIE', 'SJLY', 'SWEK',
       'SSCK', 'SBGV', 'SNDT', 'SIMB', 'SNRP', 'SSXO', 'SSUL', '9PAA',
       'SDCD', 'SNAS', 'SWEJ', 'SIFC', 'SSDK', 'SBJC', 'SBTT', 'SSKZ',
       'SBCA', 'SWPY', 'SSOK', 'SDYJ', 'SWFR', '9PSD', 'SNAL', 'SDOI',
       'SBGW', 'SDJA', 'SSSC', 'SWGI', 'SNPC', 'SDEM', 'SJIF', 'SSGG',
       'SIVQ', 'SBIT', 'SDLY', 'SJVL', 'SDET', 'SBUY', 'SDJO', 'SNLF',
       'SDIO', 'SDVO', 'SNIZ', 'SDVK', 'SIBO', 'SWFX', 'SSVA', 'SWMZ',
       'SSER', 'SNEJ', 'SNQX', 'SDGR', 'SILC', 'SWUZ', 'SDSC', 'SBTA',
       'SWEW', 'SBJU', 'SSGA', 'SDUB', 'SSCN', 'SSUB', 'SNWC', 'SWYV',
       'SBLJ', 'SJBH', 'SBFS', 'SNJK', 'SNME', 'SWVC', 'SJNP', 'SNOF',
       'SWFV', 'SDQG', 'SJBY', 'SNCV', 'SNBR', 'SJQN', 'SSRS', 'SWJP',
       'SNMA', 'SSMW', 'SIJY', 'SNJR', 'SNGX', 'SNMD', 'SNDU', 'SDDN',
       'SNJI', 'SDTK', 'SSMH', '9PHD', 'SDPA', 'SNGS', 'SBUR', 'SBPF',
       'SIPB', 'SBLE', 'SNSH', 'SNDH', 'SWSI', 'SNPY', 'SSOS', 'SWEF',
       'SJBM', 'SSGB', 'SDGX', 'SIXD', 'SNGQ', 'SWUV', 'SBAE', 'SBTR',
       'SSZL', 'SJWQ', 'SNBA', 'SBPB', 'SNDP', 'SWPM', 'SDOW', 'SSNV',
       'SWVI', 'SSGX', 'SNKH', 'SWVR', 'SDTF', 'SSKW', 'SWVZ', 'SNJO',
       'SNTO', 'SJXM', 'SDNH', '5JTI', 'SNFS', 'SSFC', 'SWGN', 'SIBH',
       'SJFM', 'SBQV', 'SDTO', 'SDKH', 'SDXF', 'SWGC', 'SWSL', 'SBAQ',
       'SWLV', 'SNMU', 'SNPD', 'SWKT', 'SDEE', 'SWGL', 'SDNB', 'SWNK',
       'SDNI', 'SSKM', 'SSJL', 'SJLU', 'SBCJ', 'SDIM', 'SJAH', 'SNNL',
       'SWIN', '9PFX', 'SSBR', 'SBPC', 'SNZA', 'SJVO', 'SDLZ', 'SBSM',
       'SSSE', 'SBHT', 'SIQH', 'SSLT', 'SWPQ', '9PFC', 'SWRZ', 'SNCX',
       'SJNQ', 'SSSZ', 'SBME', 'SBAR', 'SDMJ', 'SNLO', 'SDVI', 'SNYR',
       'SSPB', 'SSJA', 'SWJW', 'SING', 'SIQK', 'SD4V', 'SIFV', 'SBBQ',
       'SSAK', 'SSQI', 'SNJN', 'SDPG', 'SDZX', 'SNPX', 'SNVS', 'SWIT',
       'SNYS', 'SJLO', 'SWAQ', 'SDYF', 'SDBN', 'SBFE', 'SWQI', 'SIKC',
       'SNSG', 'SDWU', 'SWPA', 'SSPV', 'SJDU', 'SWRD', 'SSSS', 'SWMO',
       'SDJL', 'SDMH', 'SWRO', 'SDWC', 'SSJI', 'SNJD', 'SNOG', 'SNHB',
       'SBPK', 'SWKO', 'SNKF', 'SIPY', 'SNVC', 'SDMM', 'SDVE', 'SWBE',
       'SWMW', 'SDEH', 'SNXW', 'SJYR', 'SNCW', 'SSAU', 'SDJC', 'SBTD',
       'SNHE', 'SBUA', 'SSAC', 'SNMX', 'SSCP', 'SSPX', 'SNBO', 'SDWV',
       'SWEI', 'SBKG', 'SNFE', 'SDED', 'SDRE', 'SWUQ', 'SWBB', 'SIJG',
       'SNAU', 'SSIJ', 'SBAN', 'SNTY', 'SNKK', 'SNPJ', 'SJRG', 'SBIP',
       'SIFH', 'SDBK', 'SNVB', 'SSPQ', 'SDBA', 'SNUN', 'SSKS', 'SNXR',
       'SNGG', 'SSIQ', 'SSPG', 'SNBG', 'SDTI', 'SWJN', 'SDYW', 'SBBW',
       'SSPL', 'SDHP', 'SSCT', 'SBFN', 'SSDO', 'SSAY', 'SSAQ', 'SDJB',
       'SDMC', 'SJCY', 'SJFU', 'SNKI', 'SSQT', 'SWOB', 'SDPY', 'SBMY',
       'SDVL', 'SDPN', 'SSTL', 'SWGP', 'SION', 'SDHU', 'SWNB', 'SNXI',
       'SSRZ', 'SDDQ', 'SSDP', 'SIPU', 'SNAG', 'SWCZ', 'SNEM', 'SDNE',
       'SNGU', 'SNSW', 'SDMV', 'SNYE', 'SWYH', 'SNGV', 'SNKE', 'SSSB',
       'SSHS', 'SNKB', 'SWUI', 'SSNB', 'SJHR', 'SNAZ', 'SBNT', 'SSCR',
       'SNTF', 'SBBZ', 'SNOD', 'SNCL', 'SJTO', 'SDBV', 'SIRS', 'SJHG',
       'SNDR', 'SIBX', 'SDOR', 'SWNO', 'SNIG', 'SWKC', 'SBTK', 'SSTH',
       'SBUF', 'SNFJ', 'SDKE', 'SWDC', 'SDLO', 'SNWS', 'SSCF', 'SNXT',
       'SSPS', 'SSVN', 'SNUZ', 'SBPN', 'SWOZ', 'SSUV', 'SNVR'],
      dtype=object)

`Inconsistencias encontradas *** ,**NI`

In [ ]:
df.replace(['***','**NI'],pd.NA,inplace=True)

In [ ]:
#converter coluna dia
df['dia'] = df['dia'].astype(str)

## Validation of data

In [ ]:
# Criação do schema de validação dos dados

schema = pa.DataFrameSchema(
      columns = {
          'classificacao':pa.Column(pa.String),
          'ocorrencia':pa.Column(pa.Int),
          'cidade':pa.Column(pa.String),
          'uf':pa.Column(pa.String,pa.Check.str_length(2,2),nullable=True),
          'pais':pa.Column(pa.String),
          'aerodromo':pa.Column(pa.String,pa.Check.str_length(4,4),nullable=True),
          'data':pa.Column(pa.DateTime),
          'horario':pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'),nullable=True),
          'recomendacoes':pa.Column(pa.Int),
          'n_aeronaves':pa.Column(pa.Int),
          'saida_pista':pa.Column(pa.String,pa.Check.str_length(3,3)),
      }
  )

In [ ]:
#validador do DF
schema.validate(df)

SchemaError: ignored

In [ ]:
df.loc[0,'uf'] = 'SP'

In [ ]:
df.loc[0]

In [ ]:
#Somar e exibir os valores ausentes no DF
df.isna().sum()

classificacao       0
ocorrencia          0
cidade              0
uf                  4
pais                0
aerodromo        2618
dia                 0
horario             2
recomendacoes       0
n_aeronaves         0
saida_pista         0
dtype: int64

In [ ]:
pd.unique(df['saida_pista'])

array(['SIM', 'NÃO'], dtype=object)

# Filters

In [ ]:
# New column
df['aeroback'] = df.aerodromo

In [ ]:
# Filters out null or missing values | NA , NULL , NaN , NaT e etc
filtronulo = df.aerodromo.isna()
df.loc[filtronulo]

,classificacao,ocorrencia,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,aeroback
5,ACIDENTE,81019,PORTO ALEGRE,RS,BRASIL,<NA>,2022-10-03,20:50:00,0,1,NÃO,<NA>
6,INCIDENTE,81022,LOBATO,PR,BRASIL,<NA>,2022-10-03,15:38:00,0,1,NÃO,<NA>
7,ACIDENTE,81021,NOVA BANDEIRANTES,MT,BRASIL,<NA>,2022-10-02,19:00:00,0,1,SIM,<NA>
8,INCIDENTE GRAVE,81009,NAVIRAÍ,MS,BRASIL,<NA>,2022-10-01,10:10:00,0,1,SIM,<NA>
9,INCIDENTE,81012,LINHARES,ES,BRASIL,<NA>,2022-09-30,12:20:00,0,1,NÃO,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
6758,INCIDENTE,39789,SÃO PEDRO DO SUL,RS,BRASIL,<NA>,2010-01-10,21:30:00,0,1,NÃO,<NA>
6761,INCIDENTE GRAVE,39707,CANUTAMA,AM,BRASIL,<NA>,2010-01-09,12:30:00,3,1,NÃO,<NA>
6763,INCIDENTE,39807,SALVADOR,BA,BRASIL,<NA>,2010-01-06,17:53:00,0,1,NÃO,<NA>
6765,ACIDENTE,39527,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO,<NA>
6766,INCIDENTE,40211,RIO DE JANEIRO,RJ,BRASIL,<NA>,2010-01-03,12:00:00,0,1,NÃO,<NA>

In [ ]:
#rating filter
filtroacidente = df.classificacao == 'ACIDENTE'
dfacidente = df.loc[filtroacidente]
dfacidente

,classificacao,ocorrencia,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,aeroback
5,ACIDENTE,81019,PORTO ALEGRE,RS,BRASIL,<NA>,2022-10-03,20:50:00,0,1,NÃO,<NA>
7,ACIDENTE,81021,NOVA BANDEIRANTES,MT,BRASIL,<NA>,2022-10-02,19:00:00,0,1,SIM,<NA>
12,ACIDENTE,81014,BOA VISTA,RR,BRASIL,<NA>,2022-09-27,00:00:00,0,1,NÃO,<NA>
15,ACIDENTE,81018,LONTRAS,SC,BRASIL,<NA>,2022-09-24,20:05:00,0,1,NÃO,<NA>
19,ACIDENTE,80998,ENGENHEIRO CALDAS,MG,BRASIL,<NA>,2022-09-21,17:51:00,0,1,NÃO,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
6750,ACIDENTE,39315,CANUTAMA,AM,BRASIL,<NA>,2010-01-15,21:22:00,0,1,NÃO,<NA>
6754,ACIDENTE,40107,GURUPÁ,PA,BRASIL,SNGU,2010-01-12,14:30:00,0,1,NÃO,SNGU
6755,ACIDENTE,39507,PRIMAVERA DO LESTE,MT,BRASIL,<NA>,2010-01-11,17:00:00,2,1,NÃO,<NA>
6759,ACIDENTE,40069,SÃO PAULO,SP,BRASIL,SBMT,2010-01-10,14:50:00,8,1,NÃO,SBMT
6765,ACIDENTE,39527,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO,<NA>

In [ ]:
df.loc[filtroacidente,['n_aeronaves','cidade','uf']]

      n_aeronaves              cidade  uf
5               1        PORTO ALEGRE  RS
7               1   NOVA BANDEIRANTES  MT
12              1           BOA VISTA  RR
15              1             LONTRAS  SC
19              1   ENGENHEIRO CALDAS  MG
...           ...                 ...  ..
6750            1            CANUTAMA  AM
6754            1              GURUPÁ  PA
6755            1  PRIMAVERA DO LESTE  MT
6759            1           SÃO PAULO  SP
6765            1  LUCAS DO RIO VERDE  MT

[2090 rows x 3 columns]

In [ ]:
#filter more details
ftcidade = df.cidade == 'SÃO PAULO'
ftpista = df.saida_pista == 'SIM'
ft2020 = df.dia.dt.year == 2020
ftuf = df.uf == 'CE'
df.loc[ftcidade & ftpista & ft2020]

,classificacao,ocorrencia,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,aeroback
1050,INCIDENTE GRAVE,79718,SÃO PAULO,SP,BRASIL,SBMT,2020-12-11,13:50:00,0,1,SIM,SBMT

## Region filters

In [ ]:
# region filters

ftsul = df.uf.isin(['RS','PR', 'SC'])
ftsudeste = df.uf.isin(['ES','MG', 'RJ', 'SP'])
ftco = df.uf.isin(['DF','GO', 'MT', 'MS'])
ftnordeste = df.uf.isin(['AL','BA', 'CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])
ftnorte = df.uf.isin(['AC','AP', 'AM', 'PA', 'RO', 'RR', 'TO'])

## Filter for date

In [ ]:
ftagosto = df.dia.dt.month == 8
ftquinz = (df.dia.dt.day > 0) & (df.dia.dt.day < 16) 
dfdata = df.loc[ftagosto & ftquinz]

In [ ]:
dfsul = df.loc[ftsul & ft2020]

# GROUPBY

In [ ]:
df.groupby(['classificacao']).size().sort_values(ascending=False)

classificacao
INCIDENTE          3795
ACIDENTE           2090
INCIDENTE GRAVE     884
dtype: int64

In [ ]:
dfsul.groupby(['classificacao']).size().sort_values(ascending=False)

classificacao
INCIDENTE          45
ACIDENTE           29
INCIDENTE GRAVE    11
dtype: int64

In [ ]:
df.groupby(['uf'],dropna=False).size().sort_values(ascending=False)

uf
SP     1625
MG      638
RJ      578
PR      548
RS      395
GO      359
MT      359
PA      344
AM      279
BA      253
SC      223
MS      191
DF      156
PE      126
CE       95
ES       91
MA       86
RR       73
AC       66
TO       60
RO       54
PI       45
AL       34
PB       28
SE       22
RN       22
AP       15
NaN       4
dtype: int64

In [ ]:
df.groupby(['aerodromo'],dropna=False).size().sort_values(ascending=False)

aerodromo
NaN     2618
SBGR     173
SBMT     150
SBKP     128
SBBH     124
        ...
SJVL       1
SJTO       1
SJOD       1
SJNQ       1
SJNC       1
Length: 574, dtype: int64

#Plotting

In [ ]:
#Plotting bar graphics
df.groupby(['uf'],dropna=False).size().sort_values(ascending=False).head(5).plot.bar(figsize=(12,8),xlabel='ESTADO',ylabel='Qtd. Ocorrencias')

In [ ]:
#Plotting line graphics
df.groupby(['classificacao'],dropna=False).size().sort_values(ascending=False).plot.line()

In [ ]:
#Plotting circle graphics
df.groupby(['saida_pista'],dropna=False).size().sort_values(ascending=False).plot.pie(figsize=(8,8))

In [ ]:
df.dtypes

classificacao            object
ocorrencia                int64
cidade                   object
uf                       object
pais                     object
aerodromo                object
dia              datetime64[ns]
horario                  object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
aeroback                 object
dtype: object

## DF2

In [ ]:
df2 = df[['ocorrencia','data','aerodromo','cidade','uf','classificacao','n_aeronaves','saida_pista','recomendacoes']]

In [ ]:
# Criação do schema2 de validação dos dados df2

schema2 = pa.DataFrameSchema(
      columns = {
          'ocorrencia':pa.Column(pa.Int),
          'data':pa.Column(pa.DateTime,nullable=True),
          'aerodromo':pa.Column(pa.String,pa.Check.str_length(4,4),nullable=True),
          'cidade':pa.Column(pa.String),
          'uf':pa.Column(pa.String,pa.Check.str_length(2,2),nullable=True),
          'classificacao':pa.Column(pa.String),
          'n_aeronaves':pa.Column(pa.Int),
          'saida_pista':pa.Column(pa.String,pa.Check.str_length(3,3)),
          'recomendacoes':pa.Column(pa.Int),
          
      }
  )

In [ ]:
#validador do DF
schema2.validate(df2)

SchemaError: ignored

#More Comands

In [ ]:
df.head(2)

In [ ]:
df.loc[80:100]

In [ ]:
df.loc[0,'cidade']

In [ ]:
df.loc[:,'cidade']

In [ ]:
df['back_cidade'] = df.cidade

In [ ]:
df.head(5)

In [ ]:
df.loc[0,'cidade'] = 'SÃO PAULO'

In [ ]:
df.loc[:,'back_cidade'] = 'ANDRÉ'

In [ ]:
df.drop(['back_cidade'],axis=1,inplace=True)

In [ ]:
#Consult missing values
df.isna().sum()

In [ ]:
#Consult data 'values'
df.count()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
filtrouf = df.uf.isna()
filtrohorario = df.horario.isna()

In [ ]:
df.loc[filtrouf]

In [ ]:
df.loc[filtrohorario]

In [ ]:
filtrosp = df.uf == "SP"

In [ ]:
ftincidente = df.classificacao == 'INCIDENTE'
ftano = df.dia.dt.year == 2021
ftsp = df.uf == 'SP'

In [ ]:
dfosni = df.loc[ftsp & ftano]

In [ ]:
dfosni

In [ ]:
#Add values in between of dataframes
dffinal = df.merge(df1, how='outer')

In [ ]:
df.to_csv('ocerrencia_principal_tratada.csv')